[versions]
hamcrest-core = "2.2"
hamcrest-date = "2.0.8"
java-vavr = "0.10.4"
kotlin-vavr = "0.10.2"
jetbrains-annotations = "24.0.1"
typeTools = "0.6.3"
kover = "0.7.0-Beta"
kotlin = "1.8.21"
detekt = "1.22.0"
kotest = "5.6.2"
spotless = "6.18.0"
spotbugs = "5.0.14"
lombok-gradle = "8.0.1"
testLogger = "3.2.0"
assertj-core = "3.24.2"
assertj-vavr = "0.4.2"
reflection-util = "2.14.0"
junit = "5.9.3"
apache-log4j = "2.20.0"

[libraries]
hamcrest-core = { module = "org.hamcrest:hamcrest", version.ref = "hamcrest-core" }
hamcrest-date = { module = "org.exparity:hamcrest-date", version.ref = "hamcrest-date" }
java-vavr = { module = "io.vavr:vavr", version.ref = "java-vavr" }
kotlin-vavr = { module = "io.vavr:vavr-kotlin", version.ref = "kotlin-vavr" }
jetbrains-annotations = { module = "org.jetbrains:annotations", version.ref = "jetbrains-annotations" }
typeTools = { module = "net.jodah:typetools", version.ref = "typeTools" }
kotlin-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
detekt-gradle = { module = "io.gitlab.arturbosch.detekt:detekt-gradle-plugin", version.ref = "detekt" }
kover-gradle = { module = "org.jetbrains.kotlinx.kover:org.jetbrains.kotlinx.kover.gradle.plugin", version.ref = "kover" }
spotless-gradle = { module = "com.diffplug.spotless:spotless-plugin-gradle", version.ref = "spotless" }
spotbugs-gradle = { module = "com.github.spotbugs.snom:spotbugs-gradle-plugin", version.ref = "spotbugs" }
reflection-util = { module = "de.cronn:reflection-util", version.ref = "reflection-util" }
testLogger-gradle = { module = "com.adarshr.test-logger:com.adarshr.test-logger.gradle.plugin", version.ref = "testLogger" }
kotest-assertionsCore = { module = "io.kotest:kotest-assertions-core", version.ref = "kotest" }
kotest-frameworkEngine = { module = "io.kotest:kotest-framework-engine", version.ref = "kotest" }
kotest-property = { module = "io.kotest:kotest-property", version.ref = "kotest" }
kotest-runnerJUnit5 = { module = "io.kotest:kotest-runner-junit5", version.ref = "kotest" }
assertj-core = { module = "org.assertj:assertj-core", version.ref = "assertj-core" }
assertj-vavr = { module = "org.assertj:assertj-vavr", version.ref = "assertj-vavr" }
junit-bom = { module = "org.junit:junit-bom", version.ref = "junit" }
junit-jupiter = { module = "org.junit.jupiter:junit-jupiter-api", version.ref = "junit" }
junit-engine = { module = "org.junit.jupiter:junit-jupiter-engine" }
log4j-api = { module = "org.apache.logging.log4j:log4j-api", version.ref = "apache-log4j" }
log4j-core = { module = "org.apache.logging.log4j:log4j-core", version.ref = "apache-log4j" }
log4j-slf4j2-impl = { module = "org.apache.logging.log4j:log4j-slf4j2-impl", version.ref = "apache-log4j" }

[bundles]
kotest = [
    "kotest-assertionsCore",
    "kotest-frameworkEngine",
    "kotest-property",
    "kotest-runnerJUnit5",
]
junit = ["junit-jupiter", "junit-engine"]
apache-log4j = ["log4j-api", "log4j-core", "log4j-slf4j2-impl"]

[plugins]
kover = { id = "org.jetbrains.kotlinx.kover", version.ref = "kover" }
kotlin-jvm = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
detekt = { id = "io.gitlab.arturbosch.detekt", version.ref = "detekt" }
spotless = { id = "com.diffplug.spotless", version.ref = "spotless" }
spotbugs = { id = "com.github.spotbugs", version.ref = "spotbugs" }
lombok-gradle = { id = "io.freefair.lombok", version.ref = "lombok-gradle" }
testLogger = { id = "com.adarshr.test-logger", version.ref = "testLogger" }
